@{
    ViewBag.Title = "Home Page";
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Grid View</h5>
        @Html.ActionLink("Access Controller", "Index", "Villes")
    </li>

    <li class="two">
        <h5>Table Generator</h5>
        @Html.ActionLink("Access Controller", "Index", "Table")
    </li>
</ol>
